.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #009472;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.div1 {
  background-color: #00b19f;
  padding: 30px 30px;
  width: 450px;
  /* margin: 0 auto; */
  text-align: center;
}

.div2 {
  background-color: #ffffff;
  padding: 30px 30px 60px 30px;
  width: 450px;
  /* margin: 0 auto; */
  text-align: center;
}
